/*--------------------documents---------------------*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    background: rgb(255, 255, 255);
}

/*------------------------------------------------------fist container------------------------------------------------------*/
/* container config */
.container {
    width: 100%;
    height: 100%;
    margin: auto;
    /* no margin */
    padding: 0px;
    background-image: url("../media/images/bg.jpg");
    /* background image */
    background-size: cover;
    /* cover the background image */
    background-color: #cccccc;
    background-repeat: no-repeat;
    /* set no repeat for background */
    position: relative;
    /* set position relative which is positioned relative to its normal position */
    object-fit: contain;
    /* fit the image to the container */
}

/* public link button */
.public-link {
    position: absolute;
    top: 300px;
    left: 35%;
    width: 300px;
    height: 300px;
    text-align: center;
}

/* sign out button */
.sign-out {
    position: relative;
    top: 10px;
    width: 300px;
    height: 300px;
    text-align: right;
    float: right;
}

.sign-out>a, .sign-out>a:visited, .sign-out>a:link, .sign-out>a:active {
    width: 100%;
    height: 100%;
    padding-right: 5%;
    background-color: transparent;
    color: white;
    font-size: 50px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    /* cursor */
}

/* change color when the mouse is over the button */
.sign-out>a:hover {
    color: rgb(242, 247, 164);
    /* background color */
}

/* the top button of the page */
.btn-container {
    position: absolute;
    display: flex;
    top: 10px;
    left: 5px;
}

.btn>button {
    width: 130px;
    height: 50px;
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.btn>button>form {
    text-align: center;
    padding-top: 13px;
}

/* the main view inclue the home directory, back button, and list files in directory */
.view-container {
    position: absolute;
    top: 110px;
    left: 11px;
    width: 67%;
    height: 80%;
    border: 2px solid rgb(248, 255, 153);
    overflow: auto;
}

/* home directory */
.path {
    margin: 10px;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 70px;
    width: 80%;
    z-index: 100;
}

.path>form>input {
    width: 70%;
    border: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

/* list items in folder */
.files-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;

}

/* table config */
table {
    table-layout: fixed;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/* table button */
.table-btn>a>button {
    width: 80px;
}

.table-btn>button {
    width: 80px;
}

/* content of table */
.table-filename, .table-filesize, .table-function, .table-status {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}



.table-filename {
    width: 47%;
    background-color: white;
}

.table-filename>a, a:hover, a:link, a:visited {
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-status {
    width: 7%;
    background-color: white;
}

.table-filesize {
    width: 7%;
    background-color: white;
}

.table-function {
    width: 35%;
    background-color: white;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    display: block;
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    position: relative;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* content message */
.modal-content>p{
    position: relative;
    font-size: large;
    width: 100%;
    overflow: scroll;
}

/* copy button */
.modal-content>button{
    top:50%;
    position: relative;
    font-size: large;
    text-align: center;
    width: 100px;
    height: 30px;
}