/*--------------------documents---------------------*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    background: rgb(255, 255, 255);
}

/*------------------------------------------------------fist container------------------------------------------------------*/
/* container config */
.container {
    width: 100%;
    height: 100%;
    margin: auto;
    /* no margin */
    padding: 0px;
    background-image: url("../media/images/bg.jpg");
    /* background image */
    background-size: cover;
    /* cover the background image */
    background-color: #cccccc;
    background-repeat: no-repeat;
    /* set no repeat for background */
    position: relative;
    /* set position relative which is positioned relative to its normal position */
    object-fit: contain;
    /* fit the image to the container */
}
/* drive button */
.drive{
    position: absolute;
    top: 300px;
    padding: 0;
    left: 5%;
    width: 300px;
    height: 300px;
    text-align: center;
}

/* public link button */
.public-link{
    position: absolute;
    top: 300px;
    left: 35%;
    width: 300px;
    height: 300px;
    text-align: center;
}

/* sign out button */
.sign-out{
    position: relative;
    top: 10px;
    width: 300px;
    height: 300px;
    text-align: right;
    float: right;
}
.sign-out>div> a, a:visited{
    width: 100%;
    height: 100%;
    padding-right: 5%;
    background-color: transparent;
    color: white;
    font-size: 50px;
    border: none;
    cursor: pointer;
    /* cursor */
}

/* link config */
.container> div > a, a:visited {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    font-size: 100px;
    float: center;
    border: none;
    cursor: pointer;
    /* cursor */
}

.container> div > a:hover, .sign-out>div> a:hover {
    color: rgb(242, 247, 164);
    /* background color */
}
.container> div > a:link, .sign-out>div> a:link {
    text-decoration: none;
}
